/*General*/

p, h1, h2, h3, a, div, span {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    color: #444;
}
p {
    font-size: 140%;
}
h2 {
  margin-top: 60px;
	padding-bottom: 7px;
    font-size: 190%;
	font-weight: bold;
	border-bottom: 1px solid #AAA; 
}
h3 {
	font-size: 190%;
	font-weight: 100;
}
    
a {
    /**color: #8029c4;**/
    text-decoration: none;
    border-bottom: 1px dotted;
}
a:visited {
    color: black;
}


.left {
	float: left;
}
.right {
	float: right;
}

/*Header*/

.opening, .intro {
    margin-right: 280px;
}

#actualbody {
    margin: 0 auto;
    padding: 50px 0;
    width: 1000px;
}

#actualbody .nameblock p {
	font-size: 120%;
	margin-bottom: 2px;
	line-height: 1;
}
#actualbody .nameblock .right {
	margin-top: 3px;
	text-align: right;
}
#actualbody .nameblock .right a {
	border: none;
}
#actualbody .nameblock h1 {
	margin-top: 5px;
	
}
#actualbody .header div.pic {
	width: 17%;
	float: right;
	/*margin-right: 15px;*/
}
#actualbody .header div.pic a {
	border: none;
}
#actualbody .header div.pic img {
	width: 125%;
}


/*Body*/


#actualbody {
    margin: 0 auto;
    padding: 50px 0;
    max-width: 1100px;
    width: 90%
}

/* Project Preview*/
.project-preview {
	clear: both;
	padding-bottom: .75em;
	padding-top: 30px;
}
.project-preview p {
  margin-top: 0px;
}

.article {
  padding-top: 10px;
  padding-bottom: 10px;
}
.article p {
  margin: 0px;
}

/*Why doesn't this work?*/
a:hover .project-preview, a:hover .article {
    background-color: #FAFAFD;
}

a:hover p {
  color: #000;
}

.project-preview .project-image img {
	float: right;
    width: 20%;
}
.project-preview div.description {
	float: left;
	width: 75%;
}
.project-preview div.role {
	float: left;
	width: 59%;
    font-style: Italic;
}
#actualbody #content div.project-preview div.description p {
	font-size: 16px;
	margin: 0;
	margin-top: .5em;
	line-height: 1.4;
}
#actualbody #content div.project-preview div.description p.header {
        margin-bottom: 1.0em;
}
/*Writing*/


/*Miscellaneous*/
.misc {
    margin-right: 110px;
}


.clearboth {
	clear: both;
}
